$colors:(
    violet-color: hsl(257, 40%, 49%),
    soft-magenta: hsl(300, 69%, 71%),
);

@function color($color) {
    @return map-get($colors, $color);
}

@mixin bodyPad($horiz) {
    padding: $horiz 5vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: color(violet-color);
}

header {
    @include bodyPad(2rem);
}